body {
  background-image: url(assets/namecard8.jpg) 
}
.profile-image {
 height: 20px;
 margin: auto;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-size:cover;
  font-family: "Segoe UI";
  margin-top: 200px;
}

p {
  font-family: "Segoe UI";
  margin-top: auto;
}
.head {
    opacity: 95%;
    width: 300px;
    border: 1px solid white;
    margin: auto;
    border-radius: 60px;
    align-content: center;  
    opacity: 100%;
}
  
.head {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.content {
  color: white;
  text-align: center;
  margin-right:20px;
  margin-left: 20px;
}

img {
  	width: 100px;
    height: 100px;
    padding: 1px;
    transition: 0.8s ease-in-out;
    border-radius: 20%;
  }

img:hover {
  opacity: 60%;
}

a {
  color: white;
  margin: auto;
  margin-right: 50px
}
a:hover {
  color: aqua;
}

li {
list-style: none; 
}

h2 {
  font-size: 20px;
  color:aqua
  
}


  




